---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'

---

<header>
  <div class="fb items-center">
    
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="https://gemini.google.com/" class="gpt-title">Diyetisyen</a>
    <a href="https://gemini.google.com/" class="gpt-subtitle">Botu</a>
  </div>
  <p mt-1 op-60>
    
    <a href="https://gemini.google.com/">Google Gemini kullanılmıştır.</a>
    
  </p>
</header>
